.App {
    text-align: center;
}


/* =========== custom scroll-bar ========= */

::-webkit-scrollbar {
    width: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #A020F0, #7113ac, #6f00b4, #A020F0) !important;
}